<li id="listItem">
	{{#if this.devoured}}
	<h3>{{this.id}}: {{this.burger_name}}</h3>
	<button class="devour-button btn btn-primary" data-id="{{this.id}}" data-devour="{{this.devoured}}">
	DEVOUR
	{{else}}
	<h3 id="itemsDevoured">{{this.id}}: {{this.burger_name}}</h3>
	{{/if}}
	</button>
</li>
